<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>用户中心页面</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
    用户名: <span th:text="${userDetails?.getUsername()}"></span> |
    角色: <span th:text="${userDetails?.getAuthorities()}"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>
<h1>用户中心页面</h1>
<p>登录后你就可以访问此页面了哦！</p>
<ul>
    <li>访问 <a href="/user/index" th:href="@{/user/index}">用户中心页面</a></li>
</ul>
</body>
</html>