<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Hello Spring Security</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<div th:fragment="logout" class="logout">
    用户名: <span th:text="${userDetails?.getUsername()}"></span> |
    角色: <span th:text="${userDetails?.getAuthorities()}"></span>
    <div>
        <form action="#" th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>
    </div>
</div>
<h1><span th:text="${userDetails?.getUsername()}"></span>欢迎来到首页</h1>
<p>下面是用户页面，需要认证后才能够访问！</p>
<ul>
    <li>访问<a href="/user/index" th:href="@{/user/index}">用户页面</a></li>
</ul>
</body>
</html>